# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Build assets (should not be committed)
public/assets/*.js
public/assets/*.css

# Local env files
.env
.env.*
!.env.example
